In [ ]:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# #Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [1]:
import pandas as pd
import numpy as np
import ibm_db

# Connecting to IBM CloudPak DB2

In [ ]:
%load_ext sql

In [77]:
%reload_ext sql
# run custom file with IBM's CloudPak DB2 credentials - for privacy purpose
%run hide/IBM_Db2-credentials.py

SyntaxError: Missing parentheses in call to 'exec' (IBM_Db2-credentials.py, line 2)

In [104]:
#Create the dsn connection string

dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=bludb;HOSTNAME=54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud;PORT=32733;PROTOCOL=TCPIP;UID=bvr08213;PWD=m4KZ2cTooApRg3mA;SECURITY=SSL;

In [105]:
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  bvr08213 on host:  54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [106]:
#Retrieve Metadata for the Database Server

server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0600
DB_NAME:    BLUDB

In [107]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.05.0500
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

# Dropping tables

In [112]:
#Lets first drop the tables in case it exists from a previous attempt
dropQuery = "DROP TABLE IF EXISTS CENSUS_DATA"
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

dropQuery2 = "DROP TABLE IF EXISTS CHICAGO_CRIME_DATA"
dropStmt2 = ibm_db.exec_immediate(conn, dropQuery2)


dropQuery3 = "DROP TABLE IF EXISTS CHICAGO_PUBLIC_SCHOOLS"
dropStmt3 = ibm_db.exec_immediate(conn, dropQuery3)

# Loading data

In [108]:
census_data = pd.read_csv('hide/data/ChicagoCensusData.csv', header=0)
print('Chicago Census Data')
display(census_data)

crime_data = pd.read_csv('hide/data/ChicagoCrimeData.csv', header=0)
print('Chicago Crime Data')
display(crime_data)

school_data = pd.read_csv('hide/data/ChicagoPublicSchools.csv', header=0)
print('Chicago Public Schools Data')
display(school_data)

Chicago Census Data

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

Chicago Crime Data

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,10453948,HZ192829,2016-03-01,028XX E 79TH ST,1055,HUMAN TRAFFICKING,INVOLUNTARY SERVITUDE,APARTMENT,False,False,...,4,7.0,46.0,26,1196679.0,1853139.0,2016,41.751885,-87.554826,"(41.751885152, -87.554825997)"
529,10397129,HZ133234,2016-01-29,006XX W HARRISON ST,5114,NON - CRIMINAL,FOID - REVOCATION,STREET,False,False,...,1,2.0,28.0,26,1172257.0,1897564.0,2016,41.874363,-87.643013,"(41.874363279, -87.643013039)"
530,3269495,HJ747227,2003-11-08,012XX W 81ST ST,510,RITUALISM,AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY,OTHER,False,False,...,6,21.0,71.0,04B,1169648.0,1851076.0,2003,41.746852,-87.653941,"(41.746852486, -87.653941385)"
531,10840565,JA143710,2017-02-06,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,False,True,...,11,37.0,23.0,26,1148881.0,1905963.0,2017,41.897895,-87.728622,"(41.89789489, -87.728622316)"
532,1326195,G021609,2001-01-11,087XX S ESCANABA AV,9901,DOMESTIC VIOLENCE,DOMESTIC VIOLENCE,APARTMENT,True,True,...,4,NaN,NaN,08B,1196869.0,1847416.0,2001,41.736176,-87.554320,"(41.73617608, -87.554319607)"

Chicago Public Schools Data

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1170500.817,1870373.159,41.799788,-87.650255,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1178101.365,1866810.123,41.789841,-87.622490,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1150644.396,1914368.955,41.920927,-87.721925,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1185825.188,1860883.579,41.773400,-87.594356,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,76,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

# Creating Tables

In [116]:
print(census_data.columns)

Index(['COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME',
       'PERCENT_OF_HOUSING_CROWDED', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY',
       'PERCENT_AGED_16__UNEMPLOYED',
       'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',
       'PERCENT_AGED_UNDER_18_OR_OVER_64', 'PER_CAPITA_INCOME',
       'HARDSHIP_INDEX'],
      dtype='object')

In [117]:
print(crime_data.columns)

Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [120]:
print(school_data.columns)

Index(['School_ID', 'NAME_OF_SCHOOL', 'Elementary, Middle, or High School',
       'Street_Address', 'City', 'State', 'ZIP_Code', 'Phone_Number', 'Link',
       'Network_Manager', 'Collaborative_Name',
       'Adequate_Yearly_Progress_Made_', 'Track_Schedule',
       'CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level',
       'HEALTHY_SCHOOL_CERTIFIED', 'Safety_Icon', 'SAFETY_SCORE',
       'Family_Involvement_Icon', 'Family_Involvement_Score',
       'Environment_Icon', 'Environment_Score', 'Instruction_Icon',
       'Instruction_Score', 'Leaders_Icon', 'Leaders_Score', 'Teachers_Icon',
       'Teachers_Score', 'Parent_Engagement_Icon', 'Parent_Engagement_Score',
       'Parent_Environment_Icon', 'Parent_Environment_Score',
       'AVERAGE_STUDENT_ATTENDANCE', 'Rate_of_Misconducts__per_100_students_',
       'Average_Teacher_Attendance',
       'Individualized_Education_Program_Compliance_Rate', 'Pk_2_Literacy__',
       'Pk_2_Math__', 'Gr3_5_Grade_Level_Math__', 'Gr3_5_Grade_Level_Read__',
       'Gr3_5_Keep_Pace_Read__', 'Gr3_5_Keep_Pace_Math__',
       'Gr6_8_Grade_Level_Math__', 'Gr6_8_Grade_Level_Read__',
       'Gr6_8_Keep_Pace_Math_', 'Gr6_8_Keep_Pace_Read__',
       'Gr_8_Explore_Math__', 'Gr_8_Explore_Read__', 'ISAT_Exceeding_Math__',
       'ISAT_Exceeding_Reading__', 'ISAT_Value_Add_Math',
       'ISAT_Value_Add_Read', 'ISAT_Value_Add_Color_Math',
       'ISAT_Value_Add_Color_Read', 'Students_Taking__Algebra__',
       'Students_Passing__Algebra__', '9th Grade EXPLORE (2009)',
       '9th Grade EXPLORE (2010)', '10th Grade PLAN (2009)',
       '10th Grade PLAN (2010)', 'Net_Change_EXPLORE_and_PLAN',
       '11th Grade Average ACT (2011)', 'Net_Change_PLAN_and_ACT',
       'College_Eligibility__', 'Graduation_Rate__',
       'College_Enrollment_Rate__', 'COLLEGE_ENROLLMENT',
       'General_Services_Route', 'Freshman_on_Track_Rate__', 'X_COORDINATE',
       'Y_COORDINATE', 'Latitude', 'Longitude', 'COMMUNITY_AREA_NUMBER',
       'COMMUNITY_AREA_NAME', 'Ward', 'Police_District', 'Location'],
      dtype='object')

In [121]:
school_data.columns[1]

'NAME_OF_SCHOOL'

In [ ]:
# Constructing the Create Table DDL statements


# sql create statement
create_CENSUS_DATA = f"""CREATE TABLE CENSUS_DATA(

                                      {census_data.columns[0]} INTEGER PRIMARY KEY NOT NULL, 
                                      {census_data.columns[1]} VARCHAR(30), 
                                      {census_data.columns[2]} FLOAT(1), 
                                      {census_data.columns[3]} FLOAT(1), 
                                      {census_data.columns[4]} FLOAT(1),
                                      {census_data.columns[5]} FLOAT(1),
                                      {census_data.columns[6]} FLOAT(1),
                                      {census_data.columns[7]} INTEGER,
                                      {census_data.columns[8]} INTEGER
                                                  
                                      )"""
# execute the statement
createStmt1 = ibm_db.exec_immediate(conn, create_CENSUS_DATA)


# sql create statement
create_CHICAGO_CRIME_DATA = """CREATE TABLE CHICAGO_CRIME_DATA(

                                            ID INTEGER PRIMARY KEY NOT NULL, 
                                            CASE_NUMBER VARCHAR(12), 
                                            DATE DATE(), 
                                            BLOCK VARCHAR(30), 
                                            IUCR VARCHAR(5), 
                                            PRIMARY_TYPE VARCHAR(35), 
                                            DESCRIPTION VARCHAR(30), 
                                            LOCATION_DESCRIPTION VARCHAR(50), 
                                            ARREST BOOL, 
                                            DOMESTIC BOOL,
                                            BEAT INTEGER,
                                            DISTRICT INTEGER, 
                                            WARD INTEGER, 
                                            COMMUNITY_AREA_NUMBER INTEGER, 
                                            FBICODE VARCHAR(5), 
                                            X_COORDINATE VARCHAR(10), 
                                            Y_COORDINATE VARCHAR(10), 
                                            YEAR YEAR, 
                                            LATITUDE FLOAT, 
                                            LONGITUDE FLOAT, 
                                            LOCATION VARCHAR(30)
                                                           
                                            )"""
# execute the statement
createStmt2 = ibm_db.exec_immediate(conn, create_CHICAGO_CRIME_DATA)


# sql create statement
create_CHICAGO_PUBLIC_SCHOOLS = """CREATE TABLE CHICAGO_PUBLIC_SCHOOLS(

                                                School_ID INTEGER PRIMARY KEY NOT NULL, 
                                                NAME_OF_SCHOOL VARCHAR(100), 
                                                'Elementary, Middle, or High School' VARCHAR(3), 
                                                Street_Address VARCHAR(30), 
                                                City VARCHAR(8),
                                                State VARCHAR(3),
                                                ZIP_Code INTEGER,
                                                Phone_Number VARCHAR(16),
                                                Link VARCHAR(100),
                                                Network_Manager VARCHAR(30),
                                                Collaborative_Name VARCHAR(40),
                                                Adequate_Yearly_Progress_Made_,  ## Missing ##
                                                Track_Schedule VARCHAR(16),
                                                CPS_Performance_Policy_Status,   ## Missing ##
                                                CPS_Performance_Policy_Level,  ## Missing ##
                                                HEALTHY_SCHOOL_CERTIFIED,   ## Missing ##
                                                Safety_Icon,   ## Missing ##
                                                SAFETY_SCORE INTEGER DEFAULT NULL,
                                                Family_Involvement_Icon,   ## Missing ##
                                                Family_Involvement_Score INTEGER DEFAULT NULL,
                                                Environment_Icon,   ## Missing ##
                                                Environment_Score INTEGER DEFAULT NULL, 
                                                Instruction_Icon,  ## Missing ##
                                                Instruction_Score INTEGER DEFAULT NULL, 
                                                Leaders_Icon,   ## Missing ##
                                                Leaders_Score INTEGER DEFAULT NULL, 
                                                Teachers_Icon,  ## Missing ##
                                                Teachers_Score INTEGER DEFAULT NULL, 
                                                Parent_Engagement_Icon,   ## Missing ##
                                                Parent_Engagement_Score INTEGER DEFAULT NULL,
                                                Parent_Environment_Icon,   ## Missing ##
                                                Parent_Environment_Score INTEGER DEFAULT NULL,
                                                AVERAGE_STUDENT_ATTENDANCE DECIMAL(5,4), 
                                                Rate_of_Misconducts__per_100_students_ FLOAT,
                                                Average_Teacher_Attendance DECIMAL(5,4),
                                                Individualized_Education_Program_Compliance_Rate DECIMAL(5,4), 
                                                Pk_2_Literacy__ FLOAT DEFAULT NULL,
                                                Pk_2_Math__ FLOAT DEFAULT NULL, 
                                                Gr3_5_Grade_Level_Math__ FLOAT DEFAULT NULL, 
                                                Gr3_5_Grade_Level_Read__ FLOAT DEFAULT NULL,
                                                Gr3_5_Keep_Pace_Read__ FLOAT DEFAULT NULL, 
                                                Gr3_5_Keep_Pace_Math__ FLOAT DEFAULT NULL,
                                                Gr6_8_Grade_Level_Math__ FLOAT DEFAULT NULL, 
                                                Gr6_8_Grade_Level_Read__ FLOAT DEFAULT NULL,
                                                Gr6_8_Keep_Pace_Math_ FLOAT DEFAULT NULL, 
                                                Gr6_8_Keep_Pace_Read__ FLOAT DEFAULT NULL,
                                                Gr_8_Explore_Math__ FLOAT DEFAULT NULL, 
                                                Gr_8_Explore_Read__ FLOAT DEFAULT NULL, 
                                                ISAT_Exceeding_Math__ FLOAT DEFAULT NULL,
                                                ISAT_Exceeding_Reading__ FLOAT DEFAULT NULL, 
                                                ISAT_Value_Add_Math FLOAT DEFAULT NULL,
                                                ISAT_Value_Add_Read FLOAT DEFAULT NULL, 
                                                ISAT_Value_Add_Color_Math,  ## Missing ##
                                                ISAT_Value_Add_Color_Read,   ## Missing ##
                                                Students_Taking__Algebra__ FLOAT DEFAULT NULL,
                                                Students_Passing__Algebra__ FLOAT DEFAULT NULL, 
                                                9th Grade EXPLORE (2009) FLOAT DEFAULT NULL,
                                                9th Grade EXPLORE (2010) FLOAT DEFAULT NULL, 
                                                10th Grade PLAN (2009) FLOAT DEFAULT NULL,
                                                10th Grade PLAN (2010) FLOAT DEFAULT NULL, 
                                                Net_Change_EXPLORE_and_PLAN FLOAT DEFAULT NULL,
                                                11th Grade Average ACT (2011) FLOAT DEFAULT NULL, 
                                                Net_Change_PLAN_and_ACT FLOAT DEFAULT NULL,
                                                College_Eligibility__ FLOAT DEFAULT NULL, 
                                                Graduation_Rate__ FLOAT DEFAULT NULL,
                                                College_Enrollment_Rate__ FLOAT DEFAULT NULL, 
                                                COLLEGE_ENROLLMENT INTEGER,
                                                General_Services_Route INTEGER, 
                                                Freshman_on_Track_Rate__ FLOAT DEFAULT NULL, 
                                                X_COORDINATE VARCHAR(10), 
                                                Y_COORDINATE VARCHAR(10), 
                                                LATITUDE FLOAT,
                                                LONGITUDE FLOAT, 
                                                COMMUNITY_AREA_NUMBER INTEGER,
                                                COMMUNITY_AREA_NAME VARCHAR(30), 
                                                WARD INTEGER, 
                                                Police_District INTEGER, 
                                                LOCATION VARCHAR(30)
                                                
                                                )"""
# execute the statement
createStmt3 = ibm_db.exec_immediate(conn, create_CHICAGO_PUBLIC_SCHOOLS)

In [ ]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery1 = """SELECT CASE_NUMBER 
                 FROM CHICAGO_CRIME_DATA 
                 WHERE (PRIMARY_TYPE = 'KIDNAPPING') AND (DESCRIPTION LIKE 'CHILD%');"""

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery1)

#Fetch the Dictionary (for the first row only) - replace ... with your code
ibm_db.fetch_both(selectStmt)

# Closing Connection

In [ ]:
# # closing the connection

# ibm_db.close(conn)