In [ ]:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# #Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [12]:
import pandas as pd
import numpy as np
import ibm_db
import ibm_db_dbi

ModuleNotFoundError: No module named 'ipython_sql'

# Connecting to IBM CloudPak DB2

In [45]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [46]:
%reload_ext sql
# run custom file with IBM's CloudPak DB2 credentials - for privacy purpose
%run hide/IBM_Db2-credentials.py

In [50]:
%sql ibm_db_sa://{dsn_uid}:{dsn_pwd}@{dsn_hostname}:{dsn_port}/{dsn_database}?security={dsn_security}

In [78]:
#Create the dsn connection string

dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
list_dsn_info = dsn.split(';')
index_nums = [0,1,2,4,7]
output = [list_dsn_info[val] for val in index_nums]
print(output)

['DRIVER={IBM DB2 ODBC DRIVER}', 'DATABASE=bludb', 'HOSTNAME=54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud', 'PORT=32733', 'PROTOCOL=TCPIP', 'SECURITY=SSL']

In [16]:
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print (f"Connected to database: {dsn_database} \nAs user: {dsn_uid} \nOn host: {dsn_hostname}")

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database: bludb
As user: bvr08213
On host: 54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [ ]:
#Retrieve Metadata for the Database Server

server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

In [ ]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

# Loading data

In [ ]:
census_data = pd.read_csv('hide/data/ChicagoCensusData.csv', header=0)
print('Chicago Census Data')
display(census_data)

crime_data = pd.read_csv('hide/data/ChicagoCrimeData.csv', header=0)
print('Chicago Crime Data')
display(crime_data)

school_data = pd.read_csv('hide/data/ChicagoPublicSchools.csv', header=0)
print('Chicago Public Schools Data')
display(school_data)

In [ ]:
#renaming columns for inserting ease later (columns containing spaces,commas, and starts with numbers)
school_data.rename(columns={'Elementary, Middle, or High School':'Elementary_Middle_or_High_School',
                            '9th Grade EXPLORE (2009)':'Gr_9_EXPLORE_2009',
                            '9th Grade EXPLORE (2010)':'Gr_9_EXPLORE_2010',
                            '10th Grade PLAN (2009)':'Gr_10_PLAN_2009',
                            '10th Grade PLAN (2010)':'Gr_10_PLAN_2010',
                            '11th Grade Average ACT (2011)':'Gr_11_Average_ACT_2011'
                            }, inplace= True)
school_data

In [ ]:
census_data.info()

In [ ]:
crime_data.info()

In [ ]:
school_data.info()

# Dropping tables

In [ ]:
#Lets first drop the tables in case it exists from a previous attempt
dropQuery = "DROP TABLE IF EXISTS CENSUS_DATA"
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

dropQuery2 = "DROP TABLE IF EXISTS CHICAGO_CRIME_DATA"
dropStmt2 = ibm_db.exec_immediate(conn, dropQuery2)


dropQuery3 = "DROP TABLE IF EXISTS CHICAGO_PUBLIC_SCHOOLS"
dropStmt3 = ibm_db.exec_immediate(conn, dropQuery3)

# Creating Tables

In [ ]:
# Constructing the Create Table DDL statements


# sql create statement
create_CENSUS_DATA = """CREATE TABLE IF NOT EXISTS CENSUS_DATA(

                                      COMMUNITY_AREA_NUMBER INTEGER PRIMARY KEY NOT NULL, 
                                      COMMUNITY_AREA_NAME VARCHAR(30), 
                                      PERCENT_OF_HOUSING_CROWDED FLOAT(1), 
                                      PERCENT_HOUSEHOLDS_BELOW_POVERTY FLOAT(1), 
                                      PERCENT_AGED_16__UNEMPLOYED FLOAT(1),
                                      PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA FLOAT(1),
                                      PERCENT_AGED_UNDER_18_OR_OVER_64 FLOAT(1),
                                      PER_CAPITA_INCOME INTEGER,
                                      HARDSHIP_INDEX INTEGER
                                                  
                                      )"""
# execute the statement
createStmt1 = ibm_db.exec_immediate(conn, create_CENSUS_DATA)


# sql create statement
create_CHICAGO_CRIME_DATA = """CREATE TABLE IF NOT EXISTS CHICAGO_CRIME_DATA(

                                            ID INTEGER PRIMARY KEY NOT NULL, 
                                            CASE_NUMBER VARCHAR(12), 
                                            DATE DATE, 
                                            BLOCK VARCHAR(30), 
                                            IUCR VARCHAR(5), 
                                            PRIMARY_TYPE VARCHAR(35), 
                                            DESCRIPTION VARCHAR(30), 
                                            LOCATION_DESCRIPTION VARCHAR(50), 
                                            ARREST BOOLEAN, 
                                            DOMESTIC BOOLEAN,
                                            BEAT INTEGER,
                                            DISTRICT INTEGER, 
                                            WARD INTEGER, 
                                            COMMUNITY_AREA_NUMBER INTEGER, 
                                            FBICODE VARCHAR(5), 
                                            X_COORDINATE VARCHAR(10), 
                                            Y_COORDINATE VARCHAR(10), 
                                            YEAR INTEGER, 
                                            LATITUDE FLOAT, 
                                            LONGITUDE FLOAT, 
                                            LOCATION VARCHAR(30)
                                                           
                                            )"""
# execute the statement
createStmt2 = ibm_db.exec_immediate(conn, create_CHICAGO_CRIME_DATA)


# sql create statement
create_CHICAGO_PUBLIC_SCHOOLS = """CREATE TABLE IF NOT EXISTS CHICAGO_PUBLIC_SCHOOLS(

                                                School_ID INTEGER PRIMARY KEY NOT NULL, 
                                                NAME_OF_SCHOOL VARCHAR(100), 
                                                Elementary_Middle_or_High_School VARCHAR(3), 
                                                Street_Address VARCHAR(30), 
                                                City VARCHAR(8),
                                                State VARCHAR(3),
                                                ZIP_Code INTEGER,
                                                Phone_Number VARCHAR(16),
                                                Link VARCHAR(100),
                                                Network_Manager VARCHAR(30),
                                                Collaborative_Name VARCHAR(40),
                                                Adequate_Yearly_Progress_Made_ VARCHAR(4),
                                                Track_Schedule VARCHAR(16),
                                                CPS_Performance_Policy_Status VARCHAR(16),
                                                CPS_Performance_Policy_Level VARCHAR(20),
                                                HEALTHY_SCHOOL_CERTIFIED VARCHAR(4),
                                                Safety_Icon VARCHAR(12),
                                                SAFETY_SCORE INTEGER DEFAULT NULL,
                                                Family_Involvement_Icon VARCHAR(12),
                                                Family_Involvement_Score INTEGER DEFAULT NULL,
                                                Environment_Icon VARCHAR(12),
                                                Environment_Score INTEGER DEFAULT NULL, 
                                                Instruction_Icon VARCHAR(12),
                                                Instruction_Score INTEGER DEFAULT NULL, 
                                                Leaders_Icon VARCHAR(12),
                                                Leaders_Score INTEGER DEFAULT NULL, 
                                                Teachers_Icon VARCHAR(12),
                                                Teachers_Score INTEGER DEFAULT NULL, 
                                                Parent_Engagement_Icon VARCHAR(12),
                                                Parent_Engagement_Score INTEGER DEFAULT NULL,
                                                Parent_Environment_Icon VARCHAR(12),
                                                Parent_Environment_Score INTEGER DEFAULT NULL,
                                                AVERAGE_STUDENT_ATTENDANCE DECIMAL(5,4), 
                                                Rate_of_Misconducts__per_100_students_ FLOAT,
                                                Average_Teacher_Attendance DECIMAL(5,4),
                                                Individualized_Education_Program_Compliance_Rate DECIMAL(5,4), 
                                                Pk_2_Literacy__ FLOAT DEFAULT NULL,
                                                Pk_2_Math__ FLOAT DEFAULT NULL, 
                                                Gr3_5_Grade_Level_Math__ FLOAT DEFAULT NULL, 
                                                Gr3_5_Grade_Level_Read__ FLOAT DEFAULT NULL,
                                                Gr3_5_Keep_Pace_Read__ FLOAT DEFAULT NULL, 
                                                Gr3_5_Keep_Pace_Math__ FLOAT DEFAULT NULL,
                                                Gr6_8_Grade_Level_Math__ FLOAT DEFAULT NULL, 
                                                Gr6_8_Grade_Level_Read__ FLOAT DEFAULT NULL,
                                                Gr6_8_Keep_Pace_Math_ FLOAT DEFAULT NULL, 
                                                Gr6_8_Keep_Pace_Read__ FLOAT DEFAULT NULL,
                                                Gr_8_Explore_Math__ FLOAT DEFAULT NULL, 
                                                Gr_8_Explore_Read__ FLOAT DEFAULT NULL, 
                                                ISAT_Exceeding_Math__ FLOAT DEFAULT NULL,
                                                ISAT_Exceeding_Reading__ FLOAT DEFAULT NULL, 
                                                ISAT_Value_Add_Math FLOAT DEFAULT NULL,
                                                ISAT_Value_Add_Read FLOAT DEFAULT NULL, 
                                                ISAT_Value_Add_Color_Math VARCHAR(8),
                                                ISAT_Value_Add_Color_Read VARCHAR(8),
                                                Students_Taking__Algebra__ FLOAT DEFAULT NULL,
                                                Students_Passing__Algebra__ FLOAT DEFAULT NULL, 
                                                Gr_9_EXPLORE_2009 FLOAT(1),
                                                Gr_9_EXPLORE_2010 FLOAT DEFAULT NULL, 
                                                Gr_10_PLAN_2009 FLOAT DEFAULT NULL,
                                                Gr_10_PLAN_2010 FLOAT DEFAULT NULL, 
                                                Net_Change_EXPLORE_and_PLAN FLOAT DEFAULT NULL,
                                                Gr_11_Average_ACT_2011 FLOAT DEFAULT NULL, 
                                                Net_Change_PLAN_and_ACT FLOAT DEFAULT NULL,
                                                College_Eligibility__ FLOAT DEFAULT NULL, 
                                                Graduation_Rate__ FLOAT DEFAULT NULL,
                                                College_Enrollment_Rate__ FLOAT DEFAULT NULL, 
                                                COLLEGE_ENROLLMENT INTEGER,
                                                General_Services_Route INTEGER, 
                                                Freshman_on_Track_Rate__ FLOAT DEFAULT NULL, 
                                                X_COORDINATE VARCHAR(10), 
                                                Y_COORDINATE VARCHAR(10), 
                                                LATITUDE FLOAT,
                                                LONGITUDE FLOAT, 
                                                COMMUNITY_AREA_NUMBER INTEGER,
                                                COMMUNITY_AREA_NAME VARCHAR(30), 
                                                WARD INTEGER, 
                                                Police_District INTEGER, 
                                                LOCATION VARCHAR(30)
                                                
                                                )"""
                                            
                                                
# execute the statement
createStmt3 = ibm_db.exec_immediate(conn, create_CHICAGO_PUBLIC_SCHOOLS)

In [ ]:
#function to auto create table <--- NICE BASE TO WORK FROM (Needs some manual tweaking but works very well)
def SQL_CREATE_STATEMENT_FROM_DATAFRAME(DATAFRAME, TABLE_NAME):

    import pandas as pd
    sql_text = pd.io.sql.get_schema(DATAFRAME.reset_index(), TABLE_NAME)   
    return sql_text

SQL_CREATE_STATEMENT_FROM_DATAFRAME(school_data,'Chicago Public Schools Data')

# Insert

In [ ]:
#function to auto create insert statement from dataframe

def SQL_INSERT_STATEMENT_FROM_DATAFRAME(DATAFRAME, TABLE_NAME):
    sql_texts = []
    for index, row in DATAFRAME.iterrows():       
        sql_texts.append('INSERT INTO '+TABLE_NAME+' ('+ str(', '.join(DATAFRAME.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return " ".join(sql_texts)

census_data_insert = SQL_INSERT_STATEMENT_FROM_DATAFRAME(census_data,'CENSUS_DATA')
crime_data_insert = SQL_INSERT_STATEMENT_FROM_DATAFRAME(crime_data,'CHICAGO_CRIME_DATA')
school_data_insert = SQL_INSERT_STATEMENT_FROM_DATAFRAME(school_data,'CHICAGO_PUBLIC_SCHOOLS')

#print example
print(census_data_insert)

In [ ]:
from sqlalchemy import create_engine

def insert_data(dataframe, database_table_name):
    engine = create_engine(f'ibm_db_sa://{dsn_uid}:{dsn_pwd}@{dsn_hostname}:{dsn_port}/{dsn_database}')
    
    dataframe.to_sql(database_table_name, conn, if_exists='replace')

In [ ]:
census_data.to_sql('CHICAGO_PUBLIC_SCHOOLS', engine)

In [ ]:
crime_data.to_sql('CHICAGO_PUBLIC_SCHOOLS', engine)

In [ ]:
school_data.to_sql('CHICAGO_PUBLIC_SCHOOLS', engine)

# Querying

In [ ]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

#Construct the query
selectQuery1 = """SELECT CASE_NUMBER 
                 FROM CHICAGO_CRIME_DATA 
                 WHERE (PRIMARY_TYPE = 'KIDNAPPING') AND (DESCRIPTION LIKE 'CHILD%');"""

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery1, pconn)

#Call the DataFrame 
pdf

# Closing Connection

In [ ]:
# # closing the connection

# ibm_db.close(conn)